<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="javascripts/index.js"></script>

<div data-role="page" id="homepage">

	<div data-role="header" data-theme="b">
		<h1>DoNuts</h1>
		
			<!--navigation bar -->
			<div data-role="navbar">
				<ul>
					<li><a href="" class="ui-btn-active" data-icon="home"  style="background: grey; border:grey; color: white;">Home</a></li>
					<li><a href="#login" data-icon="user">Login</a></li>
					<li><a href="#register" data-icon="action">Register</a></li>
				</ul>
			</div>
	</div><!-- /header -->


	<div role="main" class="ui-content">
	
		<!--grid layout settings for pictures -->
		<div class="ui-grid-solo" class="ui-block-b" data-theme="b">
			<h1 class="text-center">DoNuts</h1>
			<h2 class="text-center">The home of great doughnuts. You'll go crazy for the taste! </h2>

			<H1 class="text-center">To ORDER <a href="#login" class="ui-btn-b ui-btn ui-btn-inline text-center">LOGIN </a>   or   <a href="#register" class="ui-btn-b ui-btn ui-btn-inline text-center" >REGISTER</a> </H1>
		</div>
		
		
			
		<div class="ui-grid-c">
				<div class="ui-block-a">
				<div class="myDIV">
					<img class="imageproduct" title=" Chocolate doughnut €1" src="/images/chocolate.jpg" /></a><br></div>
					<div class="hide">Chocolate Doughnut €1</div>
				</div>

				<div class="ui-block-b">
					<div class="myDIV">
					<img class="imageproduct" title="Plain Ring doughnut €1" src="/images/ring.jpg" /></a><br></div>
					<div class="hide">Plain Ring Doughnut €1</div>
				</div>

				<div class="ui-block-c">
					<div class="myDIV">
					<img class="imageproduct" title="Lemon doughnut €1" src="/images/lemon.jpg" /></a><br></div>
					<div class="hide">Lemon Doughnut €1</div>
				</div>

				<div class="ui-block-d">
					<div class="myDIV">	
					<img class="imageproduct" title=" Iced doughnut €2" src="/images/iced.jpg" /></a><br></div>
					<div class="hide">Iced Doughnut €2</div>
				</div>
		 </div>
		 
		 
		 <div class="ui-grid-c">
				<div class="ui-block-a">
				<div class="myDIV">
					<img class="imageproduct" title="Sprinkle doughnut €2" src="/images/sprinkle.jpg" /></a><br></div>
					<div class="hide">Sprinkle Doughnut €2</div>
				</div>

				<div class="ui-block-b">
					<div class="myDIV">
					<img class="imageproduct" title="Jam doughnut €2" src="/images/jam.jpg" /></a><br></div>
					<div class="hide">Jam Doughnut €2</div>
				</div>

				<div class="ui-block-c">
					<div class="myDIV">
					<img class="imageproduct" title="Fanta 330ml €1" src="/images/fanta.jpg" /></a><br></div>
					<div class="hide">Fanta 330ml €1</div>
				</div>

				<div class="ui-block-d">
					<div class="myDIV">
					<img class="imageproduct"  title="Sprite 330ml €1" src="/images/sprite.jpg" /></a><br></div>
					<div class="hide">Sprite 330ml €1</div>
				</div>
		 </div>



	</div><!-- /content -->

	<div data-role="footer"data-position="fixed" data-theme="b">
		<h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /end home page -->






<div data-role="page" id="register" data-add-back-btn="true" >

	<div data-role="header" data-theme="b">
		<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>
			<h1>DoNuts - Register</h1>

			<div data-role="navbar" data-theme="a">
				<ul>
				  <li><a href="/"  data-icon="home">Home</a></li>
				  <li><a href="#login" data-icon="user">Login</a></li>
				  <li><a href="#register" data-icon="action" data-theme="a" class="ui-btn-active" style="background: grey; border:grey; color: white;">Register</a></li>
				</ul>
			</div>
	</div><!-- /header -->

	<div role="main" class="ui-content" data-theme="b">
			<!--grid settings -->
			<div class="ui-grid-solo" class="ui-block-b" data-theme="b">
			
			<!--registration form fields -->
			  <h1>Register</h1>
				<p>Please fill in this form to create an account.</p>
				<hr>

					<label for="username">Username:</label>
					<input type="text" placeholder="Enter Username" id="username"/> <br>

					<label for="email">Email:</label>
					<input type="text" placeholder="Enter Email" id="email"/> <br>

					<label for="password">Password:</label>
					<input type="text"  placeholder="Enter Password" id="password"/> <br>

					<label for="address">Address:</label>
					<input type="text"  placeholder="Enter Address" id="address"/> <br>

					<!-- radio button to limit the types of accounts that can be created -->
					<label><input type="radio" name="atype" value="customer"  checked="checked">Customer</label>
					<label><input type="radio" name="atype" value="driver">Driver</label>
					<label><input type="radio" name="atype" value="manager">Manager</label>


				<!-- button with function and event handler to create an account -->
				<button id="submitbutton" class="ui-btn ui-btn-b ui-btn-inline"> REGISTER </button>
					<div class="container signin">
						<p>Already have an account? <a href="#login">Sign in</a>.</p>
					</div>

			</div>


<script>
	// when the submitbutton is clicked
	$( "#submitbutton" ).click(function(event) {
	  // stop the default redirect of the browser
		  event.preventDefault();

		  // grab the values
		  var username = $('#username').val();
		  var email = $('#email').val();
		  var password = $('#password').val();
		  var address = $('#address').val();
		  //  var acctype = $('#acctype').val();

		  //get the value of the item selected on the radio button
		  var acctype = $('input[name="atype"]:checked').val();


		  var isValid = true;
		  //validate user input before database update
		  if(username == ""){
			 alert("Please enter a username");
			 isValid = false;
		  }
		  if(!email.includes("@")){
			 alert("Please enter a valid email");
			 isValid = false;
		  }
		  
		  if(password == ""){
			 alert("Please enter a password");
			 isValid = false;
		  }
		  
	
		   if(address == ""){
			 alert("Please enter a address");
			 isValid = false;
		  }
		  
		  //  ***Check if already exists 
		  var ExistsType = checkTheLogin(username,  password);
			if(ExistsType != "NONE"){
					alert( "Username/password already exists")
			}
		    else
				{
				// only send the data to the database, if the param is true.
				if(isValid == true){
				// send the data to the server-side
				//pass in parameters as key value pairs
				$.post( "/putInDatabase", { username: username, email: email, password:password, address:address, acctype:acctype })
				.done(function( data ) {
				alert( "Data Loaded: " + data );
				//after new customer record written, redirect to login page
				window.location="/#login"
				});
			}
		  }

		});

</script>



	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-theme="b">
    <h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /end registration page -->





<div data-role="page" id="login">



	<div data-role="header"  data-theme="b">

		<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>
		<h1>DoNuts - Login</h1>

			<!-- navigation -->
			<div data-role="navbar" data-theme="a">
				<ul>				  
				  <li><a href="/"  data-icon="home">Home</a></li>
				  <li><a href="#login" data-icon="user" class="ui-btn-active" data-theme="a" style="background: grey; border:grey; color: white;">Login</a></li>
				  <li><a href="#register" data-icon="action"  >Register</a></li>
				  
				</ul>
			</div>
	</div><!-- /header -->

	<div role="main" class="ui-content">
	
			<!-- grid layout -->
			<div class="ui-grid-solo" class="ui-block-b" data-theme="b">

					<h1>Sign In</h1>
					<h2>Please SIGN IN to place an order or <a href="#register">REGISTER </a> to create an account</h2>

					<!-- sign in form fields -->
					  Username <input type="text" placeholder="Enter Username" id="loginUsername"/> <br>
					  Password <input type="text" placeholder="Enter Password" id="loginPassword"/> <br>
					
					  <!-- loginbutton with function and event listener -->
					   <button id="loginbutton" class="ui-btn ui-btn-b ui-btn-inline">SIGN IN</button>
						
			

					<div class="container signin">
						<p>Don't have an account? <a href="#register">Register</a></p>
					</div>
				
			</div>


<script>	
	
			
		// when the submitbutton is clicked
		$( "#loginbutton" ).click(function(event) {
		  // stop the default redirect of the browser
		  event.preventDefault();

		  // grabbing the values
		  var un = $('#loginUsername').val();
		  var pw = $('#loginPassword').val();

		  //validate user input
		  if(un == "")
		  {
			 alert("Please enter a username");
		  }
		  if(pw ==""){
			alert("please enter a password");
		  }

		
		 //call function in shared public javascript index.js		  
		  var accountType = checkTheLogin(un, pw);

			if(accountType == "NONE"){
				alert( "Login failed, please enter valid username and password: "  );
			}
			else if(accountType == "customer"){
						// move to the customer dashboard
						window.location="/#customerdash";
			}
			else if(accountType == "driver"){

				   // move to the driver dashboard
					  window.location="/#driverpage";
			}
			else if(accountType == "manager"){
					window.location="/#managerpage";

			}
				
		});
	
</script>

<script>
		var myCart = [];

</script>


  	</div><!-- /content -->


	<div data-role="footer" data-position="fixed" data-theme="b">
	  <h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /end login page -->






<div data-role="page" id="customerdash">

	<div data-role="header"  data-position="fixed"  data-theme="b">
		<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>
			<h1>DoNuts - Customer Dash</h1>
				<!-- navigation bar -->
				<div data-role="navbar"  data-theme="a">
					<ul>					
						<li><a href="/" class="ui-btn" data-icon="home">Home</a></li>
						<li><a href="#login" data-icon="user">Login</a></li>
						<li><a href="#register" data-icon="action">Register</a></li
					</ul>
				</div>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="ui-grid-solo">
			<div class="ui-block-a">	
				
				<!-- buttons to show and hide previous orders -->
				<button class="showdiv" id="listthiscust">Show Previous Orders</button>
				<button class="hidediv"  id="listthiscust">Hide Previous Orders</button>	
					<div>
						<!-- table to show products -->
						<div class="table-container">
						<table id="Table" class="divdemo ui-responsive fontsize"  data-role="table"> 
								
							 <thead>
							  <th>ID</th>
							  <th>Name</th>
							  <th>Status</th>
							  <th>Order</th>
							  <th>Date</th>
							  <th>Total</th>
							  <th>Delivery Address</th>
							</thead>
							
							<!-- previous product orders added to the table using id and script below -->
							<tbody id="tableofcustorders"></tbody>
						</table>
						</div><!--table-container -->
						<h2>Please add your products to the cart and click CHECKOUT below</h2>
					
					</div>
				
					<!-- products available to purchase retreived and displayed -->	
					<div id="productdata"> </div>
			 
					<button id="goToCheckout" class="ui-btn ui-btn-b ui-btn-inline" data-theme="c"  style="background: pink; color: white;"> CHECKOUT</button> 		
			 
		  
			</div><!-- /ui-block-a -->

		</div><!-- /ui-grid-solo -->	
		
<script>
 

	   $(document).ready(function() {
		 $(".hidediv").click(function () {
		 $(".divdemo").hide("slow");
		});

		 $(".showdiv").click(function () {
		 $(".divdemo").show(2000);
		
		});

  
		});
		

		$( "#listthiscust" ).click(function() {		 
		// get the persons username 
		var thiscust = $('#loginUsername').val();
				
		$.post( "/getcustomerOrders", { customerid:thiscust })
			.done(function( data ) {
				let res = '';
				var runningTotal = 0;
				var orderTotal = 0;
				
				data.forEach(data1 => {
				//look for comma to split out multiple items in one order		
				 var singleTransaction = data1.items.split(',');
			
				// loop over all the items in a single transaction
				
				for(var x=0; x<singleTransaction.length; x++){
					  //splitting out the item qty and price by the hyphen
					  var singleProduct = singleTransaction[x].split('-');
										 // qty           *        itemCost
					  var cost = Number(singleProduct[1]) * Number(singleProduct[2]);
					  
					  // add to order total
					   orderTotal =   Number( orderTotal) + Number(cost);
				}
						
										 // qty           *        itemCost
				//order line output as a table row						 
				res += `<tr><td>${data1.id}</td><td>${data1.orderby}</td><td>${data1.orderstatus}</td><td>${data1.items}</td><td>${data1.orderdate}</td><td>${orderTotal}</td><td>${data1.deliveryaddress}</td></tr>`
				runningTotal = Number(runningTotal) +  Number(orderTotal);
				orderTotal = 0
			})
			//add output to html page using ID of table body
		  $('#tableofcustorders').html(res);
		 });
		}); 
			//display all products from database
			$.get( "/getProducts", function( data ) {
				  
				  $("#productdata").html(data);
		});
</script>


		




</div><!-- /content -->


  	<div data-role="footer" data-position="fixed" data-theme="b">
      <h4>DoNuts&copy; 2021</h4>
    </div><!-- /footer -->
</div><!-- /end of customerdash page -->





<div data-role="page" id="checkoutreview" >

	<div data-role="header" data-theme="b">
	<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>
	
		<h1>DoNuts - Review your order</h1>
	</div><!-- /header -->

	
		<div data-role="navbar" data-theme="a">
				<ul>
					<li><a href="/"    data-icon="home">Home</a></li>
					<li><a href="#login" data-icon="user">Login</a></li>
					<li><a href="#register" data-icon="action">Register</a></li>
				</ul>
		</div>
		
	<div role="main" class="ui-content">
	
		<div class="ui-grid-solo">
				<div class="ui-block-a">
						<h2>Order Details</h2>
						<div id="products">		  		  	  
						</div>
							<div>  
				
								<br>
								<strong><label for="deliveryaddress">DELIVERY ADDRESS:</strong></label>
								<input type="text" id="deliveryaddress" placeholder="please enter a delivery address"/><br>
								
								<button id="insertintodb"  class="ui-btn ui-btn-b ui-btn-inline" data-theme="c"  style="background: grey; color: white;">Complete Checkout</button>
							</div>
				</div>
		</div>

<script>
$( "#insertintodb" ).click(function() {

	// get the persons username
	var orderby = $('#loginUsername').val();

	 // get the list of products from the shopping cart
	var items = myCart.toString();
	var myaddress = $('#deliveryaddress').val();
	var isaddrValid = true;
	
	 //require a delivery address
	if(myaddress == ""){
		alert("Please enter a delivery address");
		isaddrValid = false;
	}
	
			
	// only send the data to the database, if the param is true.
	if(isaddrValid == true){
		$.post( "/completeCheckout", { orderby:orderby, items:items,  address:myaddress })
				.done(function( data ) {
			alert( "Data Loaded: " + data );
			
		});
		location.reload()
	}
});
</script>

<script>

	$( "#goToCheckout" ).click(function() {

		// update the div tag with the shopping cart
        
        var cartItems = myCart.toString().split(',');
        // for each record, append them to the procuts div.
        
        // wipe the products div tag!
        $('#products').html('');
        
        var total = 0;
        
        for(var i=0; i< cartItems.length; i++){
            
            
            var singleRecord = cartItems[i].split('-');
            
                             // qty *  cost of one item
            var itemTotal = singleRecord[1] * singleRecord[2];    
            
            // add it on to our running total. 
            total = total + itemTotal;
            
            $('#products').append(cartItems[i] + '<br><br>');
			

			
        }
        
       $('#products').append("Total Cost of Order: €"+total);

			// move to to the checkout review
			window.location="/#checkoutreview";
	});


	function deleteProduct(item){

		// loop over the cart
		myCart.forEach(function(itemCurrent, index, array) {

				   // look for the item we want to delete.
				   if(itemCurrent.includes(item)){
					  console.log("Removing previous reference to " + item);
					  myCart.pop(index);
				   }
			});
	}


	function addToCart(itemName,cost){
		// finding out the name of the ITEM we are adding
		var item = itemName;
		console.log(item);
		
		// dynamically find out the qty
		var qty = $('#'+item).children("option:selected").val();
		console.log(qty);

		if (qty > 0){  
		// search the cart and see if we already added
		// the item. If we did, remove the old qty.

		myCart.forEach(function(itemCurrent, index, array) {
           
           
           
           if(itemCurrent.includes(item)){
              console.log("Removing previous reference to " + item);
              myCart.pop(index);
           }
    });
    
    
		// add the item to the cart
		myCart.push(item + '-' + qty + '-'+ cost);
		
		alert(myCart);

		}
		else{ 
			alert("Please select a quantity from the drop-down list");
	}


	}

</script>


  
	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-theme="b">
      <h4>DoNuts&copy; 2021</h4>
    </div><!-- /footer -->
</div><!-- /end of customerreview page -->










<div data-role="page" id="managerpage">

	<div data-role="header" data-theme="b">
	<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>
		<h1>DoNuts - Manager</h1>

		  <!-- navigation -->		
		  <div data-role="navbar">
			  <ul>
				<li><a href="/" data-icon="home">Home</a></li>
				<li><a href="#login" data-icon="user">Login</a></li>
				<li><a href="#register" data-icon="action">Register</a></li>
			  </ul>
		  </div>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		  <div class="ui-grid-solo" class="ui-block-b" data-theme="b">
			<h1>Reports</h1>
			<p>Please select the date range for your report</p>

				<div id="managerInput">
				
					<p> From Date: <input type="text" id="fromdatepicker">
					<p> To Date: <input type="text" id="todatepicker">
					
				
				</div>

				<div class="img-container">
					<div class="table-container">
						<table id="Table" class="fontsize">
						  <thead>
						  <th>ID</th>
						  <th>Name</th>
						  <th>Status</th>
						  <th>Order</th>
						  <th>Date</th>
						  <th>Total</th>
						  <th>Delivery Address</th>
						  <th>Cancel Order</th>
						</thead>
						<tbody id="tableoforders"></tbody>
						</table>
					</div>
					<!--button with event listener and function to list customer orders -->
					<button id="listcustorders" class="ui-btn ui-btn-b ui-btn-inline"> List Orders  </button>
					<div>
						<p id="myTotal"></p>
					</div>
				</div><!--img-container-->
	      </div><!--end solo grid -->
			

<script>
	//datepicker function to set format for european dates
    $( function() {		
        $( "#fromdatepicker" ).datepicker({ dateFormat: 'yy-mm-dd'});
        $( "#todatepicker" ).datepicker({ dateFormat: 'yy-mm-dd'});
      } );

</script>

<script>

	$( "#listcustorders" ).click(function(event) {

	  event.preventDefault();

		var dateisValid = true;
		
		//JQUERY datepicker used to select dates
		var dateFromVar = $('#fromdatepicker').val();
		var dateToVar = $('#todatepicker').val();
		
		//take in dates and verify dates entered
		if (dateFromVar == null) {
			alert("Please enter a From Date ");
			dateisValid = false;
		}

		if (dateToVar == null) {
			alert("Please enter a To Date ");
			dateisValid = false;
	   }

	   //call a funtion to display the manager orders
		if (dateisValid == true){
			displaymgrorders();
		}
	});


	function displaymgrorders(){

		var dateFromVar = $('#fromdatepicker').val();
		var dateToVar = $('#todatepicker').val();
		
		var runningTotal = 0;
		var orderTotal = 0;
		

		 //call the date selection with the to and from key value pairs 
		$.post( "/getManagerDataByDate", { fromdate  : dateFromVar, todate  : dateToVar })
			.done(function( data ) {
				let res = '';
				data.forEach(data1 => {
				
				
				   // 
				 var singleTransaction = data1.items.split(',');
			
				// loop over all the items in a single transaction
				
				for(var x=0; x<singleTransaction.length; x++){
					  
					  var singleProduct = singleTransaction[x].split('-');
										 // qty           *        itemCost
					  var cost = Number(singleProduct[1]) * Number(singleProduct[2]);
					  
					  // add to order total
					   orderTotal =   Number( orderTotal) + Number(cost);
				}
						
										 // qty           *        itemCost
				//output to table the values from the server call, cancel button is included which calls function on ID
				res += `<tr><td>${data1.id}</td><td>${data1.orderby}</td><td>${data1.orderstatus}</td><td>${data1.items}</td><td>${data1.orderdate}</td><td>${orderTotal}</td><td>${data1.deliveryaddress}</td><td><button onclick="cancelOrder(${data1.id})">Cancel Order</button></td></tr>`
				runningTotal = Number(runningTotal) +  Number(orderTotal);
				orderTotal = 0
			})
		  $('#tableoforders').html(res);
		  
		 
		  
		  $("#myTotal").html(('Total :€' + runningTotal));
		 });
	}


	function cancelOrder(cancelID){
			var mystatus = "CANCELLED";

				
				 $.post( "/updateorderstatus", { orderid : cancelID, newstatus : mystatus })
					 .done(function( data ) {
						 alert(data);
						 //call updated display
						 displaymgrorders();
				 });

	}


</script>

	</div><!-- /content -->

  <div data-role="footer"data-position="fixed" data-theme="b">
    <h4>DoNuts&copy; 2021</h4>
  </div><!-- /footer -->
</div><!-- /end of manager page -->









<div data-role="page" id="driverpage">

	<div data-role="header" data-theme="b">
		<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>
			<h1>DoNuts - Driver</h1>

		<!-- navigation bar -->
		<div data-role="navbar">
			<ul>
				<li><a href="/" data-icon="home">Home</a></li>
				<li><a href="#login" data-icon="user">Login</a></li>
				<li><a href="#register" data-icon="action">Register</a></li>
			</ul>
		</div>
	</div><!-- /header -->
	
	<div role="main" class="ui-content">
		<div class="ui-grid-a">
				<div class="ui-block-a">
					<img src="/images/weather.jpg" />
				</div>
				<div class="ui-block-b">
					<h1 >Current Weather in Dublin: </h1>
					<h2>Temperature: <span class="currentTemp"></span><span class="celsius">&#8451; </span><h2>
					<img class="iconDiv" id=myimg></img>
					<h2><p id="myarea">Description: </p></h2>
				</div>
		</div>
		
		
		
		<div class="weatherWidget" ></div>

			<div class="ui-grid-solo">
				<div class ="ui-block-a">
					<table data-role="table" id="table-coloumn-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
						<thead>
							<th data-priority="1">ID</th>
							<th data-priority="3">Name</th>
							<th data-priority="4">Status</th>
							<th data-priority="5">Order</th>
							<th data-priority="6">Date</th>						
							<th data-priority="2">Delivery Address</th>
							<th>Mark Delivered</th>
						</thead>
						<tbody id="listdriverorders"></tbody>
					</table>
				</div>
			</div>

		</div>


 
  
<script>

	//make api call to get values for the weather

	$.getJSON( "http://api.weatherstack.com/current?access_key=85c210d9166e7bc27abd8c095513c9de&query=Dublin", function( json ) {

		$('.currentTemp').html(json.current.temperature);
			//displaying weather information from call
			var icon_name = json.current.weather_icons[0];
			//display weather image			
			var wea_desc  = json.current.weather_descriptions[0];
			$("#myimg").attr("src", icon_name);
			$("#myarea").append(wea_desc);
				
	});

		//on load page call function loadorders
		$(document).ready(loadorders);

		 function loadorders(){

			$.post( "/getDriverData",{})
			.done(function( data ) {

			  let res = '';
			  //loop through orders returned from server, button to allow call function to deliver individual item
			  data.forEach(data1 => {
				res += `<tr><td>${data1.id}</td><td>${data1.orderby}</td><td>${data1.orderstatus}</td><td>${data1.items}</td><td>${data1.orderdate}</td>$<td>${data1.deliveryaddress}</td><td><button style="background:black; color: white;" onclick="updateStatus(${data1.id})" >Mark Delivered</button></td></tr>`
			  })
			  $('#listdriverorders').html(res)
			});

		  }
		  
		//function to mark item as delivered
		function updateStatus(deliveryID){
			var mystatus = "COMPLETE";

			//key value pairs for item status as parameters
			 $.post( "/updateorderstatus", { orderid  : deliveryID, newstatus : mystatus })
				 .done(function( data ) {
					alert(data);
					loadorders();
			 });
		
	
		
		
		}


  </script>

	</div><!-- /content -->

	<div data-role="footer"data-position="fixed" data-theme="b">
		<h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /end of driver page -->
