<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div data-role="page" id="homepage">

	<div data-role="header" data-theme="b">
		<a href="index.html" >DoNuts</a>

		<h1>HOME</h1>
		<a href="login.html">Logout</a>

		<div data-role="navbar">
			<ul>
				<li><a href="" class="ui-btn-active" data-icon="home">Home</a></li>
				<li><a href="#login" data-icon="user">Login</a></li>
				<li><a href="#register" data-icon="action">Register</a></li>
			</ul>
		</div>
	</div><!-- /header -->


	<div role="main" class="ui-content">
		<div class="ui-grid-solo" class="ui-block-b" data-theme="b">
			<h1 class="text-center">DoNuts</h1>
			<h2 class="text-center">The home of great doughnuts. You'll go crazy for the taste! </h2>

			<H1 class="text-center">To ORDER <a href="#login" class="ui-btn-b ui-btn ui-btn-inline text-center">LOGIN </a>   or   <a href="#register" class="ui-btn-b ui-btn ui-btn-inline text-center" >REGISTER</a> </H1>


		</div>

		<div class="ui-grid-c">
				<div class="ui-block-a">
					<img src="/images/donut1.jpg" /></a><br>
				</div>

				<div class="ui-block-b">
					<img src="/images/donut4.jpg" /></a><br>
				</div>

				<div class="ui-block-c">
					<img src="/images/donut1.jpg" /></a><br>
				</div>

				<div class="ui-block-d">
					<img src="/images/donut4.jpg" /></a><br>
				</div>
		 </div>


	</div><!-- /content -->

	<div data-role="footer"data-position="fixed" data-theme="b">
		<h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->






<div data-role="page" id="register" data-add-back-btn="true" >

	<div data-role="header" data-theme="b">
		<h1>Register</h1>

			<div data-role="navbar" data-theme="a">
			<ul>
			  <li><a href="/"  data-icon="home">Home</a></li>
			  <li><a href="#login" data-icon="user">Login</a></li>
			  <li><a href="#register" data-icon="action" data-theme="a" class="ui-btn-active">Register</a></li>
			</ul>
			</div>
	</div><!-- /header -->

	<div role="main" class="ui-content" data-theme="b">

			<div class="ui-grid-solo" class="ui-block-b" data-theme="b">
			  <p>Please fill out the form below to create an account</p>


					<label for="username">Username:</label>
					<input type="text" id="username"/> <br>

					<label for="email">Email:</label>
					<input type="text" id="email"/> <br>

					<label for="password">Password:</label>
					<input type="text" id="password"/> <br>

					<label for="address">Address:</label>
					<input type="text" id="address"/> <br>

					<label for="acctype"  >Account Type:</label>
					<input type="text" id="acctype" >

					<label><input type="radio" name="atype" value="customer"  checked="checked">Customer</label>
					<label><input type="radio" name="atype" value="driver">Driver</label>
					<label><input type="radio" name="atype" value="manager">Manager</label>



			<button id="submitbutton" class="ui-btn ui-btn-b ui-btn-inline"> Submit Button </button>

			</div>


	<script>
		// when the submitbutton is clicked
		$( "#submitbutton" ).click(function(event) {
		  // stop the default redirect of the browser
		  event.preventDefault();

		  // grab the values
		  var username = $('#username').val();
		  var email = $('#email').val();
		  var password = $('#password').val();
		  var address = $('#address').val();
		//  var acctype = $('#acctype').val();


		 var acctype = $('input[name="atype"]:checked').val();


		  var isValid = true;

		  if(username == ""){
			 alert("Please enter a username");
			 isValid = false;
		  }
		  if(!email.includes("@")){
			 alert("Please enter a valid email");
			 isValid = false;
		  }

		 // only send the data to the database, if the param is true.
		  if(isValid == true){
			  // send the data to the server-side
			  $.post( "/putInDatabase", { username: username, email: email, password:password, address:address, acctype:acctype })
			  .done(function( data ) {
				alert( "Data Loaded: " + data );
				window.location="/#login"
			  });
		  }


		});

	</script>



	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-theme="b">
    <h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->









<div data-role="page" id="login">

	<div data-role="header"  data-theme="b">

<a href = "#" class = "ui-btn-left" data-rel = "back" data-icon="back">Back</a>


		<h1>Login</h1>








			<div data-role="navbar" data-theme="a">
			<ul>
			  
			  <li><a href="/"  data-icon="home">Home</a></li>
			  <li><a href="#login" data-icon="user" class="ui-btn-active" data-theme="a">Login</a></li>
			  <li><a href="#register" data-icon="action"  >Register</a></li>
			  
			</ul>
			</div>
	</div><!-- /header -->

	<div role="main" class="ui-content">

			<div class="ui-grid-solo" class="ui-block-b" data-theme="b">


					<p>Please login to place an order....</p>


					  Username <input type="text" id="loginUsername"/> <br>
					  Password <input type="text" id="loginPassword"/> <br>


					   <button id="loginbutton" class="ui-btn ui-btn-b ui-btn-inline"> Login Button </button>

			</div>


	<script>
			// when the submitbutton is clicked
			$( "#loginbutton" ).click(function(event) {
			  // stop the default redirect of the browser
			  event.preventDefault();

			  // grabbing the values
			  var un = $('#loginUsername').val();
			  var pw = $('#loginPassword').val();

			  if(un == "")
			  {
				 alert("Please enter a username");
			  }
			  if(pw ==""){
				alert("please enter a password");
			  }


			  $.post( "/checkTheLogin", { username: un, password: pw })
				  .done(function( data ) {
					// say what the account type is

							if(data.includes("NONE")){

								alert( "Login failed, please enter valid username and password: "  );
							}


							else if(data.includes("customer")){

									// move to the customer dashboard
									window.location="/#customerdash";
								 }
								 else if(data.includes("driver")){

					   // move to the driver dashboard
						  window.location="/#driverpage";
					}
					else if(data.includes("manager")){
						window.location="/#managerpage";

					}
				  });

			 });

	</script>

	<script>
	var myCart = [];

	</script>


  	</div><!-- /content -->


	<div data-role="footer" data-position="fixed" data-theme="b">
	  <h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->






<div data-role="page" id="customerdash">

	<div data-role="header"  data-position="fixed"  data-theme="b">
  
		<h1>Customer Dash</h1>
			<div data-role="navbar"  data-theme="a">
				<ul>
					<li><a href = "#" class = "ui-btn" data-rel = "back"data-icon="back">Back</a></li>
					<li><a href="/" class="ui-btn-active" data-icon="home">Home</a></li>
					<li><a href="#login" data-icon="user">Login</a></li>
					<li><a href="#register" data-icon="action">Register</a></li
				</ul>
			</div>

	</div><!-- /header -->

	<div role="main" class="ui-content">
		<div class="ui-grid-solo">
			<div class="ui-block-a">
	
				<h2>Please add your products to the cart and click CHECKOUT below</h2>
					

			 <div id="productdata"> </div>
			 
				<button id="goToCheckout" class="ui-btn ui-btn-b ui-btn-inline" data-theme="c"  style="background: pink; color: white;"> CHECKOUT</button> 		
			 
   
			 <table id="Table"> 
							 <caption><H3>YOUR PREVIOUS ORDERS</H3></caption>
								  <thead>
								  <th>ID</th>
								  <th>Name</th>
								  <th>Status</th>
								  <th>Order</th>
								  <th>Date</th>
								  <th>Total</th>
								  <th>Delivery Address</th>
								</thead>
								<tbody id="tableofcustorders"></tbody>
								</table>
	
	<button id="listthiscust" class="ui-btn ui-btn-b ui-btn-inline"> List This Customers Orders  </button>
   
			</div><!-- /ui-block-a -->

		</div><!-- /ui-grid-solo -->	
 <script>
		 
		 
	$( "#listthiscust" ).click(function() {		 
		// get the persons username 
 var thiscust = $('#loginUsername').val();
	alert(thiscust);	
		
//		thiscust =  'customer';  
 
	$.post( "/getcustomerOrders", { customerid:thiscust })
		.done(function( data ) {
            let res = '';
			var runningTotal = 0;
		var orderTotal = 0;
			
            data.forEach(data1 => {
					
	         var singleTransaction = data1.items.split(',');
        
            // loop over all the items in a single transaction
            
            for(var x=0; x<singleTransaction.length; x++){
                  
                  var singleProduct = singleTransaction[x].split('-');
                                     // qty           *        itemCost
                  var cost = Number(singleProduct[1]) * Number(singleProduct[2]);
                  
                  // add to order total
                   orderTotal =   Number( orderTotal) + Number(cost);
            }
					
			                         // qty           *        itemCost
            res += `<tr><td>${data1.id}</td><td>${data1.orderby}</td><td>${data1.orderstatus}</td><td>${data1.items}</td><td>${data1.orderdate}</td><td>${orderTotal}</td><td>${data1.deliveryaddress}</td></tr>`
			runningTotal = Number(runningTotal) +  Number(orderTotal);
			orderTotal = 0
		})
      $('#tableofcustorders').html(res);
	 });
 }); 	 
        $.get( "/getProducts", function( data ) {
              
              $("#productdata").html(data);
        });
        </script>


		




</div><!-- /content -->


  	<div data-role="footer" data-position="fixed" data-theme="b">
      <h4>DoNuts&copy; 2021</h4>
    </div><!-- /footer -->
</div><!-- /page -->





<div data-role="page" id="checkoutreview" >

	<div data-role="header" data-theme="b">
	<a href="#" data-icon="back" data-rel="back" data-iconpos="notext"></a>
		<h1>Review your order</h1>
	</div><!-- /header -->

	
	<div data-role="navbar" data-theme="b">
			<ul>
				<li><a href="/" class="ui-btn-active" data-icon="home">Home</a></li>
				<li><a href="#login" data-icon="user">Login</a></li>
				<li><a href="#register" data-icon="action">Register</a></li>
			</ul>
		</div>
	<div role="main" class="ui-content">

          <div id="products">
          </div>
			<div>		  
					
					<br>
					<strong><label for="deliveryaddress">DELIVERY ADDRESS:</label></strong>
					<input type="text" id="deliveryaddress" placeholder="please enter a delivery address"/><br>

					
					
					
         <button id="insertintodb">Complete Checkout</button>
</div>

<script>
$( "#insertintodb" ).click(function() {

	// get the persons username
	var orderby = $('#loginUsername').val();

	 // get the list of products from the shopping cart
	var items = myCart.toString();
	var myaddress = $('#deliveryaddress').val();
	var isaddrValid = true;
	 
	if(myaddress == ""){
		alert("Please enter a delivery address");
		isaddrValid = false;
	}
	
			
	// only send the data to the database, if the param is true.
	if(isaddrValid == true){
		$.post( "/completeCheckout", { orderby:orderby, items:items,  address:myaddress })
				.done(function( data ) {
			alert( "Data Loaded: " + data );
		});
	}
});
</script>

<script>

	$( "#goToCheckout" ).click(function() {

  // update the div tag with the shopping cart
        
        var cartItems = myCart.toString().split(',');
        // for each record, append them to the procuts div.
        
        // wipe the products div tag!
        $('#products').html('');
        
        var total = 0;
        
        for(var i=0; i< cartItems.length; i++){
            
            
            var singleRecord = cartItems[i].split('-');
            
                             // qty *  cost of one item
            var itemTotal = singleRecord[1] * singleRecord[2];    
            
            // add it on to our running total. 
            total = total + itemTotal;
            
            $('#products').append(cartItems[i] + '<br>');
        }
        
       $('#products').append("Total cost of order: "+total);

			// move to to the checkout review
			window.location="/#checkoutreview";
	});


	function deleteProduct(item){

		// loop over the cart
		myCart.forEach(function(itemCurrent, index, array) {

				   // look for the item we want to delete.
				   if(itemCurrent.includes(item)){
					  console.log("Removing previous reference to " + item);
					  myCart.pop(index);
				   }
			});
	}


function addToCart(itemName,cost){
    // finding out the name of the ITEM we are adding
    var item = itemName;
	console.log(item);
    
    // dynamically find out the qty
	var qty = $('#'+item).children("option:selected").val();
	console.log(qty);
    
    // search the cart and see if we already added
    // the item. If we did, remove the old qty.

    myCart.forEach(function(itemCurrent, index, array) {
           
           
           
           if(itemCurrent.includes(item)){
              console.log("Removing previous reference to " + item);
              myCart.pop(index);
           }
    });
    
    
    // add the item to the cart
    myCart.push(item + '-' + qty + '-'+ cost);
    
    alert(myCart);

    


}

</script>



	</div><!-- /content -->

	<div data-role="footer" data-position="fixed" data-theme="b">
      <h4>DoNuts&copy; 2021</h4>
    </div><!-- /footer -->
</div><!-- /page -->










<div data-role="page" id="managerpage">

	<div data-role="header" data-theme="b">
		<h1>Manager</h1>

		  <div data-role="navbar">
			  <ul>
				<li><a href="/" data-icon="home">Home</a></li>
				<li><a href="#login" data-icon="user">Login</a></li>
				<li><a href="#register" data-icon="action">Register</a></li>
			  </ul>
		  </div>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		  <div class="ui-grid-solo" class="ui-block-b" data-theme="b">
			<p>Create Your Reports</p>
			<p>Please select the dates for your report</p>



				<div id="managerInput">
				  <label for="from">From</label>
				  <input type="text" id="fromdatepicker" name="from">
				  <label for="to">to</label>
				  <input type="text" id="todatepicker" name="to">
				</div>

				<div class="img-container">
					<table id="Table">
					  <thead>
					  <th>ID</th>
					  <th>Name</th>
					  <th>Status</th>
					  <th>Order</th>
					  <th>Date</th>
					  <th>Total</th>
					  <th>Delivery Address</th>
					</thead>
					<tbody id="tableoforders"></tbody>
					</table>


				<button id="listcustorders" class="ui-btn ui-btn-b ui-btn-inline"> List Orders  </button>
			</div>
	      </div>
			<div class="ui-grid-a">
				  <div class="ui-block-a">
					<div id="canceldel">
					 <input type="text" id="idtocancel" name="cancel" placeholder="Enter item ID to CANCEL">
					</div>
				  </div>
				  <div class="ui-block-b">
					 <button id="cancelorder" class="ui-btn ui-btn-b ui-btn-inline " >CANCEL ORDER </button>
				  </div>

			</div>

<script>
    $( function() {
        $( "#fromdatepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
        $( "#todatepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
      } );

      </script>
<script>

$( "#listcustorders" ).click(function(event) {

  event.preventDefault();

	var dateisValid = true;

    var dateFromVar = $('#fromdatepicker').datepicker('getDate');
    var dateToVar = $('#todatepicker').datepicker('getDate');

    if (dateFromVar == null) {
        alert("Please enter a From Date ");
        dateisValid = false;
    }

    if (dateToVar == null) {
        alert("Please enter a To Date ");
        dateisValid = false;
   }

	if (dateisValid == true){
		displaymgrorders();
	}
});


function displaymgrorders(){

    var dateFromVar = $('#fromdatepicker').datepicker('getDate');
    var dateToVar = $('#todatepicker').datepicker('getDate');

   var runningTotal = 0;
    var orderTotal = 0;
    
	$.post( "/getManagerDataByDate", { fromdate  : dateFromVar, todate  : dateToVar })
		.done(function( data ) {
            let res = '';
            data.forEach(data1 => {
			
			
			   // 
             var singleTransaction = data1.items.split(',');
        
            // loop over all the items in a single transaction
            
            for(var x=0; x<singleTransaction.length; x++){
                  
                  var singleProduct = singleTransaction[x].split('-');
                                     // qty           *        itemCost
                  var cost = Number(singleProduct[1]) * Number(singleProduct[2]);
                  
                  // add to order total
                   orderTotal =   Number( orderTotal) + Number(cost);
            }
					
			                         // qty           *        itemCost
            res += `<tr><td>${data1.id}</td><td>${data1.orderby}</td><td>${data1.orderstatus}</td><td>${data1.items}</td><td>${data1.orderdate}</td><td>${orderTotal}</td><td>${data1.deliveryaddress}</td></tr>`
			runningTotal = Number(runningTotal) +  Number(orderTotal);
			orderTotal = 0
		})
      $('#tableoforders').html(res);
	  
	 });
}


$( "#cancelorder" ).click(function(event) {
 event.preventDefault();

 var idIsValid = true;
   var cancelId  = $('#idtocancel').val();

   if (cancelId  == "") {
       alert("Please enter a Order ID to Cancel");
       idIsValid = false;
   }

 if (idIsValid ==  true){
     var mystatus = "CANCELLED";

     $.post( "/updateorderstatus", { orderid  : cancelId, newstatus : mystatus })
         .done(function( data ) {
             alert(data);
		displaymgrorders();
     });
 };
});



</script>

	</div><!-- /content -->

  <div data-role="footer"data-position="fixed" data-theme="b">
    <h4>DoNuts&copy; 2021</h4>
  </div><!-- /footer -->
  </div><!-- /page -->









<div data-role="page" id="driverpage">

	<div data-role="header" data-theme="b">
		<h1>Driver</h1>

		<div data-role="navbar">
			<ul>
				<li><a href="/" data-icon="home">Home</a></li>
				<li><a href="#login" data-icon="user">Login</a></li>
				<li><a href="#register" data-icon="action">Register</a></li>
			</ul>
		</div>
	</div><!-- /header -->
	<div role="main" class="ui-content">
		<div class="ui-grid-a">
				<div class="ui-block-a">
				  <img src="/images/weather.jpg" /></div>
				  <div class="ui-block-b">
					<h2 >The current temperature in Dublin: <span class="currentTemp"></span><span class="celsius">&#8451; </span><h2>
				</div>
		</div>
		
		<div class="iconDiv"> 
			<img id=myimg></img>
		</div>
		
		<div class="DesDiv"> 
			<p></p>
		</div>
		
<div class="weatherWidget" ></div>

		<div class="ui-grid-solo">
			<div class ="ui-block-a">
				<table id="Table">
					<thead>
						<th>ID</th>
						<th>Name</th>
						<th>Status</th>
						<th>Order</th>
						<th>Date</th>
						<th>Total</th>
						<th>Delivery Address</th>
					</thead>
					<tbody id="listdriverorders"></tbody>
				</table>
			</div>
		</div>

		<div class="ui-grid-a">
				<div class="ui-block-a">
					<div id="deliver">
					<input type="text" id="idtodeliver" name="deliver" placeholder="Enter item ID to mark as delivered">
					</div>
				</div>
				<div class="ui-block-b">
					<button id="delivercustorder" class="ui-btn ui-btn-b ui-btn-inline " >MARK DELIVERED </button>
				</div>

		</div>




  
  
  <script>
   window.weatherWidgetConfig =  window.weatherWidgetConfig || [];
   window.weatherWidgetConfig.push({
       selector:".weatherWidget",
       apiKey:"SC8PG9ZXR2ZH7HTP3LU5NDZ36&include=alerts%2Ccurrent", //Sign up for your personal key
       location:"Dublin, Ireland", //Enter an address
       unitGroup:"metric", //"us" or "metric"
       forecastDays:3, //how many days forecast to show
       title:"Dublin, Ireland", //optional title to show in the 
       showTitle:true, 
       showConditions:true
   });
   
     (function() {
   var d = document, s = d.createElement('script');
   s.src = 'https://www.visualcrossing.com/widgets/forecast-simple/weather-forecast-widget-simple.js';
   s.setAttribute('data-timestamp', +new Date());
   (d.head || d.body).appendChild(s);
   })();
   
   </script>
<script>

	$.getJSON( "http://api.weatherstack.com/current?access_key=85c210d9166e7bc27abd8c095513c9de&query=Dublin", function( json ) {

		$('.currentTemp').html(json.current.temperature);

			var icon_name = json.current.weather_icons[0];
				
				var wea_desc  = json.current.weather_descriptions[0];
				
			$("#myimg").attr("src", icon_name);
			
			$(".DesDiv p").html(wea_desc);
				
		//	alert(wea_desc);
	
	});


		$(document).ready(loadorders);

		  function loadorders(){

					$.post( "/getDriverData",{})
						.done(function( data ) {

			  let res = '';
			  data.forEach(data1 => {
				res += `<tr><td>${data1.id}</td><td>${data1.orderby}</td><td>${data1.orderstatus}</td><td>${data1.items}</td><td>${data1.orderdate}</td><td>${data1.totalprice}</td><td>${data1.deliveryaddress}</td></tr>`
			  })
			  $('#listdriverorders').html(res)
			});

		  }




		$( "#delivercustorder" ).click(function(event) {
		 event.preventDefault();

		 var idIsValid = true;
		   var deliverId  = $('#idtodeliver').val();

		   if (deliverId   == "") {
			   alert("Please enter a Order ID to Complete");
			   idIsValid = false;
		   }

		 if (idIsValid ==  true){
			 var mystatus = "COMPLETE";

			 $.post( "/updateorderstatus", { orderid  : deliverId, newstatus : mystatus })
				 .done(function( data ) {
					 alert(data);
					loadorders();
			 });
		 };
		});


  </script>



	</div><!-- /content -->

	<div data-role="footer"data-position="fixed" data-theme="b">
		<h4>DoNuts&copy; 2021</h4>
	</div><!-- /footer -->
</div><!-- /page -->
